*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
    
}

/* regole header */

header{
    width: 100%;
    background-color: #ff6900;
    height: 70px;
    border-bottom: solid 2px  #b8b8b8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}
.container-nav{
    display: flex;
    justify-content: space-around;
   
}
.navigator-left{
    display: flex;
    align-items: center;
    height: 70px;
    
}
.navigator-right{
    width: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.identity{
    margin-right: 5px;
    font-size: 20px;
    color: white;
    text-decoration: none; 
}
.logo{
    display: flex;
    align-self: center; 
    width: 150px;
    height: 30px;
}

/* regole corpo centrale */

.container{
    margin: 0 auto;
    margin-top: 80px;
}
.row-container{
    display: flex;
    justify-content:center ;
    
}
.product-clmn{
    padding: 20px;
    position: relative;
}

.product-clmn:hover .shadow-img{
display: inline-block;
}

img{
  width:400px;
  

}
.shadow-img{
   
    position: absolute;
   display: none;
   right: 20px;
}
.label-red{
    background-color: red;
    padding: 5px;
    position: absolute;
    bottom: 120px;
    left: 20px;
    color: white;
}
.label-green{
    background-color: green;
    padding: 5px;
    width: 100px;
    position: absolute;
    bottom: 120px;
    left: 70px;
    color: white;
}
.heart{
    font-size: 40px;
    position: absolute;
    top: 30px;
    right: 30px; 
    
}
:hover.heart{   
    color: red;
   
}

.price{
    color: red;
}
.no-discount{
    text-decoration: line-through;
}
/* regole footer */
footer{
    height: 80px;
    background-color: #1a1a1a;
 
}
.info-container{  
   height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;  
}
.info {
    margin-left: 200px;
}
.policy{
    padding:4px ;
    color: white;
    text-decoration: none;

}
.social{
   margin-right: 220px;
    
 }

 